[Unit]
Description=lfs giftless service with docker-compose

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/docker-compose/lfs
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
